<div class="footer">
	<div class="w">
		<div class="links">
			<a class="link" href="https://github.com/chenyawei1227/mmall-fe/tree/mmall_v1.0" _target="_blank">github</a> |
			<a class="link" href="https://www.youtube.com" _target="_blank">youtube</a> |
			<a class="link" href="https://www.facebook.com" _target="_blank">facebook</a> |
			<a class="link" href="https://www.twitter.com" _target="_blank">twitter</a>
		</div>
		<p class="copyright">
			Copyright © 2017 happymmall.com All Right Reserved
		</p>
	</div>
</div>
<script src="https://cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>